.task-action {
    cursor: pointer;
}

.task-completed {
    color: gray;
    text-decoration: line-through;
}

.task-pending {
    font-weight: bold;
    color: tomato;
}

h1 {
    color: tomato;
}

body {
    height: 100vh;
    width: 100vh;
    display: flex;
    align-items: center;
   justify-content: center;
}
